include /mixins/icons.jade

mixin RenderMenu(items)
	ul#side-menu
		each item in items
			- var _url = item.toLowerCase();
			li
				a(href="/#/#{_url}") #{item}

mixin SideBar
	each item, i in menuData
		//-h2.center-it(class= (i===1) ? 'active': '')
		h2.center-it
			|#{item.title}
		+RenderMenu(item.menuItems)

mixin Box(options)
	.panel
		.icon-right
			+Icon(options.icon)
		.num-value #{options.value}
		.graph-text #{options.graph_text}
		.graph-line #{options.graph_line}

mixin ThatThing
	each d in thatData
		.row-part
			+Box(d) 

mixin Content
	.right-header Widgets
	.row-wrap
		+ThatThing

		.row-part
			.panel
				.data-an 
					.data-icon icon
					.data-value 10K
						.data-text VISITOR 						
				.data-an.data
					.data-icon icon
					.data-value 100%
						.data-text VOLUME 	
				.data-an.data-bottom
					.data-icon icon
					.data-value 150
						.data-text FORK 	
				.data-an.data.data-bottom
					.data-icon icon
					.data-value 10
						.data-text NEW MESSAGES
			.panel			
				.data-an 
					.data-icon icon
					.data-value 10K
						.data-text VISITOR 						
				.data-an.data
					.data-icon icon
					.data-value 100%
						.data-text VOLUME 	
				.data-an.data-bottom
					.data-icon icon
					.data-value 150
						.data-text FORK 	
				.data-an.data.data-bottom
					.data-icon icon
					.data-value 10
						.data-text NEW MESSAGES
		.row-part
			.panel
				.user-profile-card 
					img.info-img(src='/img/bg1.jpg')
					.user-pic 
						img.img-thumb(src='/img/user.jpg')
				.user-name-text 
					h4.name-first Yo Bhai
					h5.position Bhai
					p.user-intro Proin metus justo, commodo in ultrices
				.user-social-index
.pane-left
	+SideBar
.pane-right
	+Content